<template name="resetPassword"> 
<div id="reset" class="form-action">
    <h1>Reset Password</h1>
    <p>
        To reset your password enter your email and your birthday
        and we'll send you a link to reset your password.
    </p>
    <form>
        <ul><li> <input type="text" placeholder="Email" /> </li>
            <li> <input type="text" placeholder="Birthday" /> </li>
            <li> <input type="submit" value="Send" class="button" /> </li>
        </ul>
    </form>
</div>
</template> 
