<template name="signUp"> 
<div id="register" class="form-action">
<h1>Register</h1>
  <p>
      You should totally sign up for our super awesome service.
      It's what all the cool kids are doing nowadays.
  </p>
  <form>
      <ul>
          <li>
              <input type="text" placeholder="Username" />
          </li>
          <li>
              <input type="password" placeholder="Password" />
          </li>
          <li>
              <input type="submit" value="Sign Up" class="button" />
          </li>
      </ul>
  </form>
</div>
</template> 
